


/* Preloader */


#preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: #620c0c;

}
.fingerprint-spinner, .fingerprint-spinner * {
      box-sizing: border-box;
    }

    .fingerprint-spinner {
      height: 64px;
      width: 64px;
      padding: 2px;
      overflow: hidden;
      position: center;
    }

    .fingerprint-spinner .spinner-ring {
      position: absolute;
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #ff1d5e;
      animation: fingerprint-spinner-animation 1500ms cubic-bezier(0.680, -0.750, 0.265, 1.750) infinite forwards;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }

    .fingerprint-spinner .spinner-ring:nth-child(1) {
      height: calc(60px / 9 + 0 * 60px / 9);
      width: calc(60px / 9 + 0 * 60px / 9);
      animation-delay: calc(50ms * 1);
    }

    .fingerprint-spinner .spinner-ring:nth-child(2) {
      height: calc(60px / 9 + 1 * 60px / 9);
      width: calc(60px / 9 + 1 * 60px / 9);
      animation-delay: calc(50ms * 2);
    }

    .fingerprint-spinner .spinner-ring:nth-child(3) {
      height: calc(60px / 9 + 2 * 60px / 9);
      width: calc(60px / 9 + 2 * 60px / 9);
      animation-delay: calc(50ms * 3);
    }

    .fingerprint-spinner .spinner-ring:nth-child(4) {
      height: calc(60px / 9 + 3 * 60px / 9);
      width: calc(60px / 9 + 3 * 60px / 9);
      animation-delay: calc(50ms * 4);
    }

    .fingerprint-spinner .spinner-ring:nth-child(5) {
      height: calc(60px / 9 + 4 * 60px / 9);
      width: calc(60px / 9 + 4 * 60px / 9);
      animation-delay: calc(50ms * 5);
    }

    .fingerprint-spinner .spinner-ring:nth-child(6) {
      height: calc(60px / 9 + 5 * 60px / 9);
      width: calc(60px / 9 + 5 * 60px / 9);
      animation-delay: calc(50ms * 6);
    }

    .fingerprint-spinner .spinner-ring:nth-child(7) {
      height: calc(60px / 9 + 6 * 60px / 9);
      width: calc(60px / 9 + 6 * 60px / 9);
      animation-delay: calc(50ms * 7);
    }

    .fingerprint-spinner .spinner-ring:nth-child(8) {
      height: calc(60px / 9 + 7 * 60px / 9);
      width: calc(60px / 9 + 7 * 60px / 9);
      animation-delay: calc(50ms * 8);
    }

    .fingerprint-spinner .spinner-ring:nth-child(9) {
      height: calc(60px / 9 + 8 * 60px / 9);
      width: calc(60px / 9 + 8 * 60px / 9);
      animation-delay: calc(50ms * 9);
    }

    @keyframes fingerprint-spinner-animation {
      100% {
        transform: rotate( 360deg );
      }
    }

/* Preloader ends */

html,
body {
  height: 100%;
}

body {
  background-color: #121212;
  font-family: "Lora", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.8;
  color: #000000;
  margin: 0;
  padding: 0;
  position: relative;
}

/* header starts */
/* site header*/
.header {
  z-index: 100;
  height: 7.2rem;
  width: 100%;
  position: absolute;
  top: 5.9rem;
  left: 0;
}
.header-logo {
  z-index: 102;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: all .3s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  left: 0;
  top: auto;
}

.header-logo::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 9rem;
  position: absolute;
  top: 50%;
  left: -11rem;
}

.header-logo a {
  display: block;
  padding: 0;
  outline: 0;
  border: none;
}




.header-nav-all {
  z-index: 101;
  position: absolute;
  right: 4.4rem;
  top: 1.2rem;
}

.header-nav {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: .9rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  letter-spacing: .35rem;
}

.header-nav a {
  color: rgba(255, 255, 255, 0.8);
}

.header-nav a:hover,
.header-nav a:focus {
  color: #fb8b23;
}

.header-nav li {
  display: inline-block;
  margin: 0 .8rem;
}


.header-menu-toggle {
  z-index: 102;
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  line-height: 4.2rem;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all .3s;
  position: absolute;
  right: 32px;
  top: 1rem;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: #ffffff;
}

.header-menu-toggle span {
  display: block;
  width: 2.4rem;
  height: 2px;
  background-color: #ffffff;
  transition: all .5s;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  left: .9rem;
  right: auto;
  bottom: auto;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: all .5s;
  position: absolute;
  left: 0;
}

.header-menu-toggle span::before {
  top: -.9rem;
}

.header-menu-toggle span::after {
  bottom: -.9rem;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  transition: all .1s;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}


@media screen and (max-width:1400px) {
  .header-logo {
    left: 9.8rem;
  }

  .header-logo::before {
    width: 7.8rem;
    left: -9.8rem;
  }

}

@media screen and (max-width:1200px) {
  .header-nav li {
    margin: 0 .6rem;
  }

}

@media screen and (max-width:1000px) {
  .header-logo {
    left: 8.8rem;
  }

  .header-logo::before {
    width: 6.8rem;
    left: -8.8rem;
  }

}

@media screen and (max-width:800px) {
  .header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    background-color: black;
    padding: 14rem 4.4rem 6.4rem;
    position: absolute;
    top: -2.8rem;
    left: 0;
  }

  .header-nav-wrap .header-nav {
    display: block;
    height: auto;
    font-size: 10px;
    margin: 0 0 4rem 0;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }

  .header-nav-wrap .header-nav li a {
    padding: 18px 0;
    line-height: 20px;
    display: block;
  }

  .header-menu-toggle {
    display: block;
  }

}

@media screen and (max-width:600px) {
  .header-logo {
    left: 4.8rem;
  }

  .header-logo::before {
    width: 3.6rem;
    left: -4.8rem;
  }

}


@media only screen and (min-width:801px) {
  .header-nav-wrap {
    display: block !important;
  }

}




/* header ends */

/*Hero area starts */

.s-hero {
  width: 100%;
  height: 100vh;
  min-height: 82rem;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.s-hero::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  opacity: .5;
}

.no-js .s-hero {
  background: #000000;
}

/* hero left bar */
.hero-left-bar {
  height: 100%;
  width: 8rem;
  background-color: #000000;
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

/* hero content */
.hero-content {
  height: 100%;
  max-width: 1400px;
  padding-top: 20vh;
  padding-bottom: 18vh;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.hero-content__text {
  position: relative;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 7.6rem;
  line-height: 1.263;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 0;
  margin-right: 350px;
  padding-top: 3.2rem;
  position: relative;
}

.hero-content h1::before {
  display: block;
  content: "";
  height: 2px;
  width: 10rem;
  background-color: #7d1c24;
  position: absolute;
  top: 0;
  left: .8rem;
}

/* hero content buttons */
.hero-content__buttons {
  position: absolute;
  right: 3rem;
  bottom: 3.2rem;
}

.hero-content__buttons .btn {
  display: block;
  border-color: #ffffff;
  color: #ffffff;
  width: 30rem;
  margin-right: 0;
}

.hero-content__buttons .btn:hover,
.hero-content__buttons .btn:focus {
  background-color: #ffffff !important;
  color: #000000;
}

/*hero social*/
.hero-social {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: .9rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  color: #ffffff;
  margin: 0;
  position: absolute;
  bottom: 4.8rem;
  left: 0px;
  -webkit-transform: rotate(-90deg) translate3d(0, 6.2rem, 0);
  transform: rotate(-90deg) translate3d(0, 6.2rem, 0);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.hero-social a {
  color: rgba(255, 255, 255, 0.3);
  transition: all .5s;
}

.hero-social a:hover {
  color: #ffffff;
}

.hero-social__title {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: 0;
  padding-right: 4rem;
  margin-right: .8rem;
  position: relative;
}

.hero-social__title::after {
  display: block;
  content: "";
  width: 2.4rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 0;
  top: 50%;
}

.hero-social li {
  display: inline-block;
  margin-right: 1.2rem;
  position: relative;
}

.hero-social li a {
  display: block;
}

.hero-social li:last-child {
  margin-right: 0;
}

/*hero scroll */
.hero-scroll {
  position: absolute;
  right: 6rem;
  bottom: 0;
  -webkit-transform: rotate(-90deg) translate3d(100%, 50%, 0);
  transform: rotate(-90deg) translate3d(100%, 50%, 0);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}

.hero-scroll .scroll-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: left;
  color: #ffffff;
  padding-left: 9rem;
  position: relative;
}

.hero-scroll .scroll-link:hover,
.hero-scroll .scroll-link:focus {
  color: #fb8b23;
}

.hero-scroll::before {
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 74px;
  height: 1px;
  position: absolute;
  left: 0;
  top: calc(50% + 2px);
}

/* animate .hero-content*/
html.ss-preload .hero-content {
  opacity: 0;
}

html.ss-loaded .hero-content {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html.no-csstransitions .hero-content {
  opacity: 1;
}

/* fade in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* fade out */
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

}


@media screen and (max-width:1700px) {
  .hero-content h1 {
    margin-left: 4rem;
  }

}

@media screen and (max-width:1600px) {
  .hero-content {
    max-width: 1200px;
  }

}

@media screen and (max-width:1400px) {
  .hero-left-bar {
    width: 6.8rem;
  }

  .hero-content {
    max-width: 1100px;
  }

  .hero-content h1 {
    font-size: 6.4rem;
  }

  .hero-social {
    -webkit-transform: rotate(-90deg) translate3d(0, 5.8rem, 0);
    transform: rotate(-90deg) translate3d(0, 5.8rem, 0);
  }

}

@media screen and (max-width:1300px) {
  .hero-content {
    max-width: 1000px;
  }

  .hero-content h1 {
    font-size: 6rem;
  }

}

@media screen and (max-width:1200px) {
  .hero-content {
    max-width: 760px;
  }

  .hero-content h1 {
    font-size: 7.2rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 4.8rem;
  }

  .hero-content__buttons {
    position: static;
  }

  .hero-content__buttons .btn {
    display: inline-block;
    width: auto;
    margin-right: 1.2rem;
  }

}

@media screen and (max-width:1000px) {
  .hero-content {
    max-width: 580px;
  }

  .hero-content h1 {
    font-size: 6.2rem;
  }

}

@media screen and (max-width:800px) {
  .hero-content {
    max-width: 480px;
    width: 70%;
    padding-top: 22vh;
    padding-bottom: 10vh;
    text-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 5.4rem;
  }

  .hero-content h1 br {
    display: none;
  }

  .hero-content h1::before {
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  .hero-content__buttons .btn {
    display: block;
    margin-right: 0;
  }

}

@media screen and (max-width:700px) {
  .hero-content h1 {
    font-size: 4.8rem;
  }

  .hero-left-bar {
    opacity: .7;
  }

}

@media screen and (max-width:600px) {
  .hero-content {
    width: 80%;
    padding-top: 20vh;
  }

  .hero-content h1 {
    font-size: 4.4rem;
  }

  .hero-left-bar,
  .hero-social {
    display: none;
  }

}

@media screen and (max-width:500px) {
  .hero-content {
    width: 86%;
  }

  .hero-scroll {
    -webkit-transform: none;
    transform: none;
    right: auto;
    left: 0;
    bottom: 6.4rem;
  }

}
/* events list- */
.events-list .column:nth-child(2n+1) {
  padding-right: 2.4vw;
}

.events-list .column:nth-child(2n+2) {
  padding-left: 2.4vw;
}

.events-list__item {
  margin-bottom: 4rem;
}

.events-list__item-title a {
  color: #000000;
  border-bottom: 1px solid transparent;
}

.events-list__item-title a:hover,
.events-list__item-title a:focus {
  color: #3b0d11;
  border-bottom: 1px solid #3b0d11;
}

.events-list__meta {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.667;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: #000000;
  margin-left: 0;
  border-top: 1px solid #e0e0e0;
}

.events-list__meta li {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 4.8rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.events-list__meta li::before {
  content: "";
  display: block;
  height: 2.1rem;
  width: 2.1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 1.8rem;
  left: .8rem;
}

.events-list__meta .events-list__meta-date::before {
  background-image: url(../images/icons/icon-calendar.svg);
}

.events-list__meta .events-list__meta-time::before {
  background-image: url(../images/icons/icon-time.svg);
}

.events-list__meta .events-list__meta-location::before {
  background-image: url(../images/icons/icon-location.svg);
  height: 2.6rem;
  width: 2.6rem;
}

/* about section*/

.s-about {
  padding-top: 19.6rem;
  padding-bottom: 19.6rem;
  background-color: #3b0d11;
  color: rgba(255, 255, 255, 0.8);
}

.s-about .subhead {
  color: #fb8b23;
  margin-bottom: 4rem;
}

.s-about .lead {
  color: #ffffff;
  margin-bottom: 4rem;
}

.s-about .btn--about {
  display: block;
  width: 100%;
  margin-right: 0;
  background-color: #21070a;
  border-color: #21070a;
}


 /*about content*/

.about-content .column:first-child {
  padding-right: 2.4vw;
}

.about-content .column:last-child {
  padding-left: 2.4vw;
}


.about-sched {
  list-style: none;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.about-sched h4 {
  font-size: 1.5rem;
  line-height: 1.333;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: .4rem;
  color: #ffffff;
}

.about-sched li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 3.2rem;
  padding-left: 0;
}


@media screen and (max-width:968px) {
  .about-content {
    max-width: 900px;
  }

  .about-content .column:first-child {
    padding-right: 16px;
  }

  .about-content .column:last-child {
    padding-left: 16px;
  }

  .about-content .column:first-child {
    margin-bottom: 6.4rem;
  }

}

@media screen and (max-width:600px) {
  .about-content .column:first-child {
    padding-right: 10px;
  }

  .about-content .column:last-child {
    padding-left: 10px;
  }

}

@media screen and (max-width:400px) {
  .about-content .column:first-child {
    padding-right: 0;
  }

  .about-content .column:last-child {
    padding-left: 0;
  }

}



.s-connect {
  padding-top: 16rem;
  padding-bottom: 0;
  background-color: #ffffff;
}

.connect-content {
  padding-bottom: 12rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.connect-content .column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.connect-content .column:first-child {
  padding-right: 2.4vw;
}

.connect-content .column:last-child {
  padding-left: 2.4vw;
}

.connect-content .btn {
  margin-top: auto;
  margin-right: 0;
}


@media screen and (max-width:1000px) {
  .connect-content .column:first-child {
    padding-right: 2.2vw;
  }

  .connect-content .column:last-child {
    padding-left: 2.2vw;
  }

}

@media screen and (max-width:900px) {
  .connect-content .column {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .connect-content .column:first-child {
    padding-right: 16px;
  }

  .connect-content .column:last-child {
    padding-left: 16px;
  }

  .connect-content .column:first-child {
    margin-bottom: 6.4rem;
  }

}

@media screen and (max-width:600px) {
  .connect-content .column:first-child {
    padding-right: 10px;
  }

  .connect-content .column:last-child {
    padding-left: 10px;
  }

}

@media screen and (max-width:400px) {
  .connect-content .column:first-child {
    padding-right: 0;
  }

  .connect-content .column:last-child {
    padding-left: 0;
  }

}

.s-events {
  padding-top: 10.4rem;
  padding-bottom: 16rem;
  background-color: #ffffff;
}

.s-events .subhead {
  color: #000000;
}

.events-header {
  margin-bottom: 2.4rem;
}


.s-series {
  padding-top: 19.2rem;
  padding-bottom: 19.2rem;
  min-height: 80rem;
  background-color: #050505;
  background-image: url(../images/pattern.jpg);
  background-size: 760px 380px;
  color: #ffffff;
  position: relative;
}

.s-series::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .75;
}

.s-series h2 {
  font-size: 5.2rem;
  line-height: 1.231;
  color: #ffffff;
  margin-top: 1.6rem;
  margin-bottom: 5.6rem;
}


.series-img {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
}

.series-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


.series-content {
  padding: 12rem 6.8rem 8.8rem;
  max-width: 1340px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.series-content .column:first-child {
  padding-right: 7.2rem;
}

.series-content .column:last-child {
  padding-left: 7.2rem;
}


.series-content__buttons {
  padding-bottom: 4.8rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.series-content__buttons .btn {
  background-color: #000000;
  border-color: #000000;
}

.series-content__buttons .btn:hover,
.series-content__buttons .btn:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}


.series-content__subscribe {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.867;
  padding: 0 4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.series-content__subscribe-links {
  list-style: none;
  display: block;
  margin: 0;
  text-align: center;
}

.series-content__subscribe-links li {
  display: inline-block;
  padding-left: 0;
  line-height: 1;
}

.series-content__subscribe-links a {
  display: block;
  height: 3.8rem;
  width: 3.8rem;
  margin: 0 1.2rem 1.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.series-content__subscribe-links .ss-apple-podcast a {
  background-image: url(../images/icons/icon-podcast.svg);
}

.series-content__subscribe-links .ss-spotify a {
  background-image: url(../images/icons/icon-spotify.svg);
}

.series-content__subscribe-links .ss-soundcloud a {
  background-image: url(../images/icons/icon-soundcloud.svg);
}

.series-content__subscribe-links .ss-youtube a {
  background-image: url(../images/icons/icon-youtube.svg);
}

@media screen and (max-width:1400px) {
  .series-content {
    padding: 12rem 4rem 8.8rem;
  }

  .series-content .column:first-child {
    padding-right: 4.4rem;
  }

  .series-content .column:last-child {
    padding-left: 4.4rem;
  }

}

@media screen and (max-width:1200px) {
  .s-series {
    padding-top: 13.6rem;
    padding-bottom: 13.6rem;
  }

  .series-img {
    left: 0;
  }

  .series-img::before {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .series-content {
    max-width: 960px;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0 16px;
  }

}

@media screen and (max-width:800px) {
  .s-series h2 {
    font-size: 4.8rem;
  }

}

@media screen and (max-width:600px) {
  .s-series h2 {
    font-size: 4.2rem;
  }

  .series-content {
    padding: 0 25px;
    border: none;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0 10px;
  }

  .series-content__subscribe-links a {
    height: 3.6rem;
    width: 3.6rem;
  }

}

@media screen and (max-width:400px) {
  .series-content {
    padding: 0 22px;
  }

  .series-content .column:first-child,
  .series-content .column:last-child {
    padding: 0;
  }

}

.s-social {
  padding-top: 10.4rem;
  padding-bottom: 9.6rem;
  background-color: #000000;
}

.social-content {
  max-width: 1000px;
}

.social-list {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 5.6rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

.social-list a {
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__icon {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 2rem;
  position: relative;
}

.social-list__icon::before {
  content: "";
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
}

.social-list__icon--facebook::before {
  background-image: url(../images/icons/icon-facebook.svg);
}

.social-list__icon--twitter::before {
  background-image: url(../images/icons/icon-twitter.svg);
}

.social-list__icon--instagram::before {
  background-image: url(../images/icons/icon-instagram.svg);
}

.social-list__icon--email::before {
  background-image: url(../images/icons/icon-email.svg);
}


@media screen and (max-width:1200px) {
  .social-list li {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
  }

}

@media screen and (max-width:1000px) {
  .social-list__text {
    display: none;
  }

  .social-list__icon {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 0;
  }

  .social-list__icon::before {
    height: 2.4rem;
    width: 2.4rem;
  }

}

@media screen and (max-width:600px) {
  .social-list__icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .social-list__icon::before {
    height: 2rem;
    width: 2rem;
  }

}

@media screen and (max-width:400px) {
  .social-list li {
    margin-right: .8rem;
    margin-left: .8rem;
  }

  .social-list__icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .social-list__icon::before {
    height: 1.6rem;
    width: 1.6rem;
  }

}


